<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/skin_/login.css" />

<script src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/jquery.select.js"></script>
<title>AMDO RMS Login</title>
</head>

<body>
<div id="container">
    <div id="bd">
    	<div id="main">
        	<div class="login-box">
                <div id="logo"></div>
                <h1></h1>
                <div id="app" align:center>
                        <div class="input username"  id="username">
                        <label for="userName">ユーザEID</label>
                        <span></span>
                        <input type="text" v-model="form.username" />
                        </div>
                        <div class="input psw" id="psw">
                        <label for="password">パスワード</label>
                        <span></span>
                        <input type="password" v-model="form.password"/>
                        </div>
                        <div id="btn1">
                            <input type="button" class="button1" @click="login" value="ログイン"  />
                        </div>
                    <div v-if="error" class="alert alert-danger" role="alert" style="text-align: center;color: red">{{errorMsg}}</div>
                </div>
            </div>
        </div>
        <div id="ft">© 2019 Accenture. All Rights Reserved. </div>
    </div>
   
</div>

</body>
<script src="js/vue.min.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
var vm = new Vue({
	el : '#app',
	data : {
		form : {
			username : '',
			password : '',
		},
		error : false,
		userfocus : true,
		pwdfocus : false,
		errorMsg : ''
	},
	beforeCreate : function() {
		if (self != top) {
			top.location.href = self.location.href;
		}
	},
	methods : {
		login : function(event) {
			if (!vm.form.username) {
				vm.error = true;
				vm.errorMsg = "ユーザEIDを入力してください!";
				vm.userfocus = true;
				return;
			}
			if (!vm.form.password) {
				vm.error = true;
				vm.errorMsg = "パスワードを入力してください";
				vm.pwdfocus = true;
				return;
			}
			var urlstr = baseUrl + "demo/sys/login?username=" + vm.form.username + "&password=" + vm.form.password;
			console.log(urlstr);
			$.ajax({
				type : "POST",
				url : urlstr,
				data : {
					// "username":vm.form.username,
					// "password":vm.form.password
				},
				dataType : "json",
				success : function(result) {
					console.log(result.msg);
					if (result.code == 0) {// 登录成功
						localStorage.setItem('token',result.Authorization);
						localStorage.setItem('username',result.username);
						parent.location.href = 'http://localhost:8080/AMDO_AO_System/main.html';
					} else {
						vm.error = true;
						vm.errorMsg = result.msg;
					}
				}
			});
		}
	}
});

</script>
<script type="text/javascript">
	var height = $(window).height() > 445 ? $(window).height() : 445;
	$("#container").height(height);
	var bdheight = ($(window).height() - $('#bd').height()) / 2 - 20;
	$('#bd').css('padding-top', bdheight);
	$(window).resize(function(e) {
        var height = $(window).height() > 445 ? $(window).height() : 445;
		$("#container").height(height);
		var bdheight = ($(window).height() - $('#bd').height()) / 2 - 20;
		$('#bd').css('padding-top', bdheight);
    });
	$('select').select();
</script>

</html>
